<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - Bookshelf</title>
  <link rel="stylesheet" href="/css/bookshelf.css">
</head>

<body>
  <header>
    <nav>
      <div class="container">
        <a href="/home" class="logo"><%= user.display_name %>'s Bookshelf</a>
        <ul class="nav-links">
          <li class="dropdown">
            <button id="manage-books" class="managebooks">Manage Books</button>
            <div class="books-dropdown-content" id="books-dropdown-menu">
              <a href="#" class="dropdown-link">Add</a>
              <a href="#" class="dropdown-link">Move</a>
            </div>
          </li>
          <li><a href="/logout">Sign Out</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container">
    <div id="book-sections">

      <section class="book-column" id="to-read">
        <h2>To Read</h2>
        <ul id="to-read-books" class="bookshelf"></ul>
      </section>

      <section class="book-column" id="reading">
        <h2>Reading</h2>
        <ul id="reading-books" class="bookshelf"></ul>
      </section>

      <section class="book-column" id="read">
        <h2>Finished</h2>
        <ul id="finished-books" class="bookshelf"></ul>
      </section>

    </div>
  </main>

  <!-- Add Book Modal -->
  <div id="addBookModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Add a New Book</h2>
    <form id="addBookForm">

      <div>
        <label for="book-title">Title:</label>
        <input type="text" id="book-title" name="title" required>
      </div>
      <div>
        <label for="book-author">Author:</label>
        <input type="text" id="book-author" name="author" required>
      </div>
      <div>
        <label for="book-status">Add to Shelf:</label>
        <select id="book-status" name="status" required>
          <option value="to-read-books">To Read</option>
          <option value="reading-books">Reading</option>
          <option value="finished-books">Finished</option>
        </select>
      </div>

      <button type="submit">Search</button>
    </form>
  </div>
</div>

<!-- Add a grey out div around the To and Book categories since the user needs to input the chosen bookshelf before those are active -->
<div id="moveModal" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <h2>Move Book</h2>
    <form id="moveBookForm">

      <div>
        <label for="book-from-column">From:</label>
        <input type="text" id="from-book-column" name="From" required>
        <select id="book-status" name="status" required>
          <option value="to-read">Will Read</option>
          <option value="reading">Reading</option>
          <option value="read">Read</option>
        </select>

        <label for="book-to-column">To:</label>
        <input type="text" id="to-book-title" name="To" required>
        <select id="book-status" name="status" required>
          <option value="to-read">Will Read</option>
          <option value="reading">Reading</option>
          <option value="read">Read</option>
        </select>
      </div>
      <div>
        <label for="book-title">Title:</label>
        <input type="text" id="book-title" name="title" required>
      </div>

      <button type="submit">Search</button>
    </form>
  </div>
</div>


    <div id="popup" class="modal">
      <div class="modal-content">
        <button id="close">X</button>
        <ul id="book-list"></ul>
      </div>
    </div>





  <footer>
    <div class="container">
      <p>&copy; 2025 CS346 Project. All rights reserved.</p>
    </div>
  </footer>

  <script src="/js/bookshelf.js"></script>
</body>

</html>
