<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>">
  <title><%= title %> - Bookshelf</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <a href="/index" class="logo">Bookshelf</a>
        <ul class="nav-links">
          <% if (user) { %>
            <li><a href="/bookshelf">Profile</a></li>
            <li><a href="/signout">Sign Out</a></li>
          <% } else { %>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
          <% } %>
        </ul>
      </div>
    </nav>
  </header>

  <main class="container">
    <form novalidate>
      <h1>Filter</h1>
      <div id="filters">
        <section>
          <h2>Author</h2>
          <input id="author-input" list="authors">
          <datalist id="authors"></datalist>
          <div id="author-error" class="error-text">error text</div>
        </section>
        <section>
          <h2>Genre</h2>
          <input id="genre-input" list="genres">
          <datalist id="genres"></datalist>
          <div id="genre-error" class="error-text">error text</div>
        </section>
        <section id="page-count">
          <h2>Maximum page count</h2>
          <div id="radio-list"></div>
        </section>
      </div>
      <button id="filter" type="submit">Filter</button>
    </form>
    <section id="recommendations">
      <h2>User recommendations</h2>
      <ul id="books"></ul>
    </section>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2025 CS346 Project. All rights reserved.</p>
    </div>
  </footer>

  <script src="/js/index.js"></script>
</body>
</html>
