<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - Bookshelf</title>
  <meta name="csrf-token" content="<%= csrfToken %>">
  <link rel="stylesheet" href="/css/log_reg_style.css">
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <a href="/" class="logo">Bookshelf</a>
        <ul class="nav-links">
          <li><a href="/index">Home</a></li>
          <li><a href="/register">Register</a></li>
        </ul>
      </div>
    </nav>
  </header>

  <main>
    <form novalidate>
      <figure>
        <img src="/images/open-book.png" alt="book image" width="100">
      </figure>
      <h1>Log In</h1>
      <div id="content">
        <div class="user-detail">
          <h2>Email Address:</h2>
          <input id="email" type="email" required>
          <div id="email-error" class="error-text">error text</div>
        </div>
        <div class="user-detail">
          <h2>Password:</h2>
          <input id="password" type="password" required>
          <div id="password-error" class="error-text">error text</div>
        </div>
        <div class="user-detail">
          <button id="register" type="submit">Log In</button>
        </div>
      </div>
    </form>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2025 CS346 Project. All rights reserved.</p>
    </div>
  </footer>

  <script src="/js/login.js"></script>
</body>
</html>
