<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %> - Bookshelf</title>
  <meta name="csrf-token" content="<%= csrfToken %>">
  <link rel="stylesheet" href="/css/log_reg_style.css">
</head>
<body>
  <header>
    <nav>
      <div class="container">
        <p class="logo">Bookshelf</p>
      </div>
    </nav>
  </header>

  <main>
    
    <div class="spinner-container">
      <div class="spinner"></div>
    </div>

    <div id="custom-alert" class="modal">
      <div class="modal-content">
        <p id="alert-message"></p>
        <button id="ok-button">OK</button>
      </div>
    </div>

    <form novalidate>
      <figure>
        <img src="/images/open-book.png" alt="book image" width="100">
      </figure>
      <h1 >Reset your password</h1>
      <p id="new-password-prompt">Enter a new password to reset the password on your account</p>
      <div id="content">
        <section class="user-detail">
          <h2>Password</h2>
          <input id="password" type="password" minlength="10" required>
          <div id="password-error" class="error-text">error text</div>
        </section>
        <div class="user-detail">
          <button id="enter" type="submit">Enter</button>
        </div>
      </div>
    </form>
  </main>

  <footer>
    <div class="container">
      <p>&copy; 2025 CS346 Project. All rights reserved.</p>
    </div>
  </footer>

  <script src="/js/password.js"></script>
</body>
</html>
